<div>
  <p appStyle="red" [dStyles]="{border: '1px solid black', borderRadius: '5px'}">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ratione, in dignissimos explicabo sed corrupti saepe pariatur. Nam earum quasi harum. Debitis sunt molestias, provident repellat quos unde accusantium libero.</p>

  <p appStyle="blue" [dStyles]="{border: '1px solid red', borderRadius: '5px'}">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae eligendi nobis reprehenderit totam? Neque, excepturi. Rem, odio. Minus eligendi minima repellat nesciunt nisi possimus quam, incidunt ipsum, quisquam suscipit inventore.
  Autem molestias in, distinctio, dolorum reiciendis laudantium explicabo quas officia exercitationem voluptatibus aperiam et consequuntur corrupti dolores fuga tempore modi ab doloremque nostrum rerum! Accusamus debitis ipsa eaque iure facere.</p>
</div>